.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #095173;
    padding: 10px;
  }
  
  .logo  {
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    color: #fff;
  }
  

  .img {
    background-image: url('https://www.shutterstock.com/image-illustration/3d-techno-neon-blue-glowing-260nw-1494925625.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-weight: bolder;
  }
  
  .nav-links li {
    margin-left: 10px;
  }
  
  .nav-links a {
    color: #fff;
    font-size: medium;
    text-decoration: none;
    padding: 5px 10px;
  }

  .nav-links a:hover {
    background-color: #18d1e9;
    padding: 8px;
    border: 1px solid black;
    color: black;
  }
  
  .container-fluid {
    padding: 20px;
  }
  
  .mt-5 {
    margin-top: 5px;
  }
  
  .col-4 {
    width: 33.33%;
  }
  
  .card-shadow {
    margin: -10px 386px 4px 65px;
    width: 188%;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(18, 52, 200);
    padding: 14px;
    border: 1px solid #f4eded;
}
  .card-body {
    padding: 20px;
    background-color: #474c4d;
  }
  
  form {
    margin-bottom: 0;
    
  }
  
  .nb-3 {
    margin-bottom: 15px;
  }
  
  h4 {
    color: #0b0b0b;
    padding: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: bolder;
    margin: 0px 0px 0px 154px;
}
  
  label {
    display: block;
    display: block;
    padding: 10px;
    font-size: 19px;
    font-weight: bold;
    margin: 0px 0px 0px 204px;
  }
  
  .form-control {
    width: 80%;
    padding: 7px;
    margin: -10px 0px 5px 50px;
    border: 1px solid #03A9F4;
    border-radius: 4px;
}
  
  .btn-info {
    background-color: #1265a7;
    color: #fff;
    border: none;
    margin: 0px 0px 0px 220px;
    padding: 0px 17px;
    font-weight: bold;
    font-size: 17px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .text-danger {
    color: red;
  }
  
  a {
    text-decoration: none;
  }

  