.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #095173;
    padding: 10px;
  }
  
  .logo  {
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    color: #fff;
  }
  

  .img {
    background-image: url('https://www.shutterstock.com/image-illustration/3d-techno-neon-blue-glowing-260nw-1494925625.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
  }